$GB: #000000;
$TXT: #ffffff;
$TXT-SIZE: 42px;

@mixin FlexBody {
  display: flex;
  flex-direction: row
}

@mixin GridBody {
  display: grid;
}

body {
  background-color: $GB;
  color: $TXT;
  font-size: $TXT-SIZE;
  @include FlexBody(); 
}

input {
  width: 66px;
  height: $TXT-SIZE;
  font-size: calc($TXT-SIZE - 10px);

}

.GuessingDiv {
  display: flex;

}

@media only screen and (max-width: 768px) {
  body{font-size: 21px;}
}


